<?xml version="1.0" encoding="UTF-8"?>  

<web-app xmlns="http://java.sun.com/xml/ns/j2ee" version="2.4"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">

	<display-name>Policy Viewer</display-name>
	<servlet>
		<servlet-name>PolicyController</servlet-name>
		<servlet-class>
			trivera.security.web.PolicyController
		</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>DiagnoseHTTP</servlet-name>
		<servlet-class>
			trivera.security.view.DiagnoseHTTP
		</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ErrorHandler</servlet-name>
		<servlet-class>
			trivera.security.view.ErrorHandler
		</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>LoginController</servlet-name>
		<servlet-class>
			trivera.security.web.LoginController
		</servlet-class>
		<init-param>
			<param-name>userNamePattern</param-name>
			<param-value><![CDATA[ [^A-Za-z0-9._-]+ ]]></param-value>
		</init-param>
		<init-param>
			<param-name>passwordPattern</param-name>
			<param-value><![CDATA[ [^A-Za-z0-9._\s-]+ ]]></param-value>
		</init-param>
	</servlet>
	<servlet>
		<servlet-name>PolicyViewer</servlet-name>
		<servlet-class>
			trivera.security.view.PolicyViewer
		</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>EmailUpdateController</servlet-name>
		<servlet-class>
			trivera.security.web.EmailUpdateController
		</servlet-class>
		<init-param>
			<param-name>userNamePattern</param-name>
			<param-value><![CDATA[ [^A-Za-z0-9._-]+ ]]></param-value>
		</init-param>
		<init-param>
			<param-name>emailPattern</param-name>
			<param-value><![CDATA[ [A-Za-z0-9]+(\.[A-Za-z0-9]+)*@[A-Za-z]+(\.[A-Za-z]{2,4})* ]]></param-value>
		</init-param>
	</servlet>
	<servlet>
		<servlet-name>EmailQueryController</servlet-name>
		<servlet-class>
			trivera.security.web.EmailQueryController
		</servlet-class>
		<init-param>
			<param-name>userNamePattern</param-name>
			<param-value><![CDATA[ [^A-Za-z0-9._-]+ ]]></param-value>
		</init-param>
	</servlet>
	<servlet>
		<servlet-name>UserUpdateController</servlet-name>
		<servlet-class>
			trivera.security.web.UserUpdateController
		</servlet-class>
		<init-param>
			<param-name>userNamePattern</param-name>
			<param-value><![CDATA[ [^A-Za-z0-9._-]+ ]]></param-value>
		</init-param>
		<init-param>
			<param-name>namePattern</param-name>
			<param-value><![CDATA[ [^A-Za-z0-9._\s-]+ ]]></param-value>
		</init-param>
		<init-param>
			<param-name>streetPattern</param-name>
			<param-value><![CDATA[  [^A-Za-z0-9.\s-]+ ]]></param-value>
		</init-param>
		<init-param>
			<param-name>cityPattern</param-name>
			<param-value><![CDATA[ [^A-Za-z.\s-]+ ]]></param-value>
		</init-param>
		<init-param>
			<param-name>zipPattern</param-name>
			<param-value><![CDATA[  ^\d{5}$|^\d{5}-\d{4}$ ]]></param-value>
		</init-param>
		<init-param>
			<param-name>ccnPattern</param-name>
			<param-value><![CDATA[ \d{4}-?\d{4}-?\d{4}-?\d{4} ]]></param-value>
		</init-param>
	</servlet>
	<servlet>
		<servlet-name>UserQueryController</servlet-name>
		<servlet-class>
			trivera.security.web.UserQueryController
		</servlet-class>
		<init-param>
			<param-name>userNamePattern</param-name>
			<param-value><![CDATA[ [^A-Za-z0-9._-]+ ]]></param-value>
		</init-param>
	</servlet>
	<servlet>
		<servlet-name>PwdUpdateController</servlet-name>
		<servlet-class>
			trivera.security.web.PwdUpdateController
		</servlet-class>
		<init-param>
			<param-name>userNamePattern</param-name>
			<param-value><![CDATA[ [^A-Za-z0-9._-]+ ]]></param-value>
		</init-param>
		<init-param>
			<param-name>passwordPattern</param-name>
			<param-value><![CDATA[ [^A-Za-z0-9._\s-]+ ]]></param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>ErrorHandler</servlet-name>
		<url-pattern>/ErrorHandler</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>LoginController</servlet-name>
		<url-pattern>/LoginController</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>PolicyViewer</servlet-name>
		<url-pattern>/PolicyViewer</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>PolicyController</servlet-name>
		<url-pattern>/PolicyController</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DiagnoseHTTP</servlet-name>
		<url-pattern>/DiagnoseHTTP</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>EmailUpdateController</servlet-name>
		<url-pattern>/EmailUpdate</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>EmailQueryController</servlet-name>
		<url-pattern>/EmailQuery</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UserUpdateController</servlet-name>
		<url-pattern>/UserUpdate</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UserQueryController</servlet-name>
		<url-pattern>/UserQuery</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>PwdUpdateController</servlet-name>
		<url-pattern>/PwdUpdate</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
</web-app>
