<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:javaee="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd" version="2.4">

  <servlet>
    <servlet-name>ErrorHandler</servlet-name>
    <servlet-class>trivera.security.view.ErrorHandler</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>LoginController</servlet-name>
    <servlet-class>trivera.security.web.LoginController</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>TransferController</servlet-name>
    <servlet-class>trivera.security.web.TransferController</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CCTransferController</servlet-name>
    <servlet-class>trivera.security.web.CCTransferController</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>BalanceQueryController</servlet-name>
    <servlet-class>trivera.security.web.BalanceQueryController</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>BalanceQuery</servlet-name>
    <jsp-file>/JSPs/AcctBalance.jsp</jsp-file>
  </servlet>
  <servlet>
    <servlet-name>Transfer</servlet-name>
    <jsp-file>/JSPs/AcctTransfer.jsp</jsp-file>
  </servlet>
  <servlet>
    <servlet-name>CCTransfer</servlet-name>
    <jsp-file>/JSPs/CCTransfer.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>ErrorHandler</servlet-name>
    <url-pattern>/ErrorHandler</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LoginController</servlet-name>
    <url-pattern>/LoginController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>TransferController</servlet-name>
    <url-pattern>/TransferRequest</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CCTransferController</servlet-name>
    <url-pattern>/CCTransferRequest</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>BalanceQueryController</servlet-name>
    <url-pattern>/BalanceQuery</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>BalanceQuery</servlet-name>
    <url-pattern>/NewBalanceQuery</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Transfer</servlet-name>
    <url-pattern>/NewTransfer</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CCTransfer</servlet-name>
    <url-pattern>/NewCCTransfer</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
</web-app>